body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 14px;
  padding-left: 20px;
  line-height: 21px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: left 0.3s ease, opacity 0.3s ease;
  filter: drop-shadow(7px 7px 15px #000000);
}

#sidebar.visible {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.image-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.image-container img.main-image {
  width: 100%;
  height: auto;
  display: block;
}

.shape {
  position: absolute;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 5;
}

.shape-image {
  width: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 3;
  transition: background-color 0.3s ease;
}

.shape-image {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1;
  filter: none;
}

.shape-image.highlighted {
  z-index: 4;
}

.shape-image.blurred {
  filter: blur(4px);
}
